html{
    border-radius: 5px;
}
body{
    background-color: black;
    height: 200px;
    width: 400px;
}
.top{
    position: absolute;
    top:0%;
    left:0%;
    height: 25%;
    width: 100%;
    background-color: #181818;
    
}
.bottom{
    position: absolute;
    top:25%;
    left: 0%;
    height: 80%;
    width: 100%;
    background-color: #1f1f1f;
    border-style: solid none none none;
    border-color: #2b2b2b;
}
.heading{
    text-align: center;
    color: azure;
    font-family: Source Code Pro;
}
button {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 5px 7px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: beige;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    font-family: 'Courier New', Courier, monospace;
  }
  
button:hover {background-color: rgb(242, 242, 202)}
  
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#highButton{
    position: absolute;
    top: 50%;
    left: 5%;
}
#downloadButton{
    position: absolute;
    top: 50%;
    left: 70%;
}
#helpButton{
    position: absolute;
    top: 50%;
    left: 37.5%;
}
#para{
    color:beige;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    line-height: 140%;
    text-align: center;
}